/*=========================== GRID AREAS ===========================*/

.item1 { 
	grid-area: header; 
	font-family: Arial;
	background-image: url("PageHeader.jpg");
	background-size: cover;
	background-position: center;
	height: 300px;
	text-align: center;
	-webkit-text-fill-color: white;
}

.item2 { 
	grid-area: nav; 
	background-color: #303030;
	padding: 0px;
}

.item3 { 
	grid-area: main; 
	background-color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
	'nav nav nav nav nav nav'
    'main main main main main main';
  gap: 0%;
  padding: 0px;
}

/*=========================== BASIC DATA FORMATS ===========================*/

h1 {
	font-size: 60px;
}

h2 {
	font-size: 23px;
	text-align: left;
	border-top: 2px solid #000435;
	font-family: Arial;
}

p {
	font-size: 20px;
	text-align: left;
	font-family: Helvetica;
}

th {
	font-size: 20px;
	text-align: left;
	font-family: helvetica;
}

td {
	font-size: 20px;
	text-family: helvetica;
}

/*=========================== NAV BAR CSS ===========================*/

li {
	font-size: 20px;
	text-align: left;
	font-family: helvetica;
	float: left;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li a {
	display: block;
	color: white;
	font-family: Helvetica;
	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: white;
	color: #373839;
}

.active {
	background-color: #f93900;
	color: white;
}

/*=========================== JAVASCRIPT CSS ===========================*/

form {
	font-size: 20px;
	font-family: Helvetica;
}

#datemod{
	font-size: 18px;
	font-family: helvetica;
}

/*=========================== RESPONSIVE DESIGN ===========================*/

@media (min-width: 600px) and (max-width: 1000px) { 
	.item1 { 
		height: 200px;
	}
	
	/*img {
		width: 576px;
		height: 765px;
	}*/
	
	h1 { 
		font-size: 40px;
	}	
	
	h2 {
		font-size: 21px;
	}
	
	p {
		font-size: 18px;
	}

	th {
		font-size: 18px;
	}

	td {
		font-size: 18px;
	}

	li {
		font-size: 18px;
	}
	
	li a {
		padding: 14px;
	}
	
	form {
		font-size: 18px;
	}
} 

@media (max-width: 599px) { 
	.item1 { 
		height: 100px;
	}
	
	/*img {
		width: 432px;
		height: 574px;
	}*/
	
	h1 { 
		font-size: 25px;
	}
	
	h2 {
		font-size: 19px;
		border-top: 1px solid #000435;
	}
	
	p {
		font-size: 16px;
	}

	th {
		font-size: 16px;
	}

	td {
		font-size: 16px;
	}

	li {
		font-size: 16px;
	}
	
	li a {
		padding: 12px;
	}
	
	form {
		font-size: 16px;
	}
} 
