.item1 { 
	grid-area: header; 
	font-family: Arial;
	-webkit-text-fill-color: white;
	background-image: <img src="PageBanner.jpg" alt="">
	background-size: cover;
	background-position: center;
	height: 300px;
	text-align: center;
	background-color: #1fafb6;
}

.item2 { 
	grid-area: nav; 
	background-color: #000435;
}

.item3 { 
	grid-area: main; 
	background-color: #edeae4;
}
h1 {
	font-size: 60px;
}

h2 {
	font-size: 23px;
	text-align: left;
	border-top: 2px solid #000435;
	font-family: Arial;
}

p {
	font-size: 20px;
	text-align: left;
	font-family: Helvetica;
}

th {
	font-size: 20px;
	text-align: left;
	font-family: helvetica;
}

td {
	font-size: 20px;
	text-align: left;
	font-family: helvetica;
}

li {
	font-size: 20px;
	text-align: left;
	font-family: helvetica;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li a {
	display: block;
	color: white;
	font-family: Helvetica;
	padding: 16px;
    float: left;
}

form {
	font-size: 20px;
	font-family: Helvetica;
}

li a:hover:not(.active) {
	background-color: white;
	color: #373839;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
	'nav nav nav nav nav nav'
    'main main main main main main';
  gap: 0%;
  padding: 4px;
  background-color: #414342;
}

.grid-container > div {
  padding: 4px 0;
  font-size: 30px;
}

#datemod{
	font-size: 18px;
	font-family: helvetica;
}

@media (min-width: 600px) and (max-width: 850px) { 
	.item1 { 
		height: 200px;
	}
	img {
		width: 576px;
		height: 765px;
	}
	h1 { 
			font-size: 40px;
	   }	   
	h2 {
		font-size: 21px;
	}
	p {
		font-size: 18px;
	}

	th {
		font-size: 18px;
	}

	td {
		font-size: 18px;
	}

	li {
		font-size: 18px;
	}
	li a {
		padding: 14px;
	}
	form {
		font-size: 18px;
	}
} 

@media (max-width: 599px) { 
	.item1 { 
		height: 100px;
	}
	img {
		width: 432px;
		height: 574px;
	}
	h1 { 
		font-size: 25px;
	}
	h2 {
		font-size: 19px;
		border-top: 1px solid #000435;
	}
	p {
		font-size: 16px;
	}

	th {
		font-size: 16px;
	}

	td {
		font-size: 16px;
	}

	li {
		font-size: 16px;
	}
	li a {
		padding: 12px;
	}
	form {
		font-size: 16px;
	}
} 
